*.DS_Store
.idea/
*.iml
.gradle/
*.class
*.jar
mock-impl/build/
core/build/
icvt.xml
module_icvt.xml
icvt.properties
*.classpath
*.project
core/datanucleus.log
core/target/
datanucleus.log
impl/datanucleus.log
impl/target/
core/datanucleus.log
core/module_core.xml
core/datanucleus.log
core/datanucleus.log
front/target/
