header.main-header
	.main-logo
		a(href='index.html') site

label(for='activate-menu', class='btn-alpha btn-activate-menu')
	i.fa.fa-bars
	| Menú

label(for='activate-notification', class='btn-alpha btn-activate-notification')
	i.fa.fa-bell-o
	| Alertas
	span.count 2

input(type='checkbox', id='activate-menu', class='activate-menu')
input(type='checkbox', id='activate-notification', class='activate-notification')