aside.main-notification
	.action
		a(href='alerts.html').btn-outline Ver todas <i class='fa fa-chevron-right'></i>
	.alert-listing-aside
		ul
			li.selected: a(href='alerts.html') Se espera un incremento del 5% en los costos de manufactura en la región.
			li.new: a(href='alerts-view.html') Congreso de la industria textil 2014.
			li.new: a(href='alerts.html') Propuesta de nueva ley en materia de comercio exterior podría beneficiar al sector textil en el norte
			li: a(href='alerts.html') Taller gratuito de tecnologías de la información para PyMES.
			li: a(href='alerts.html') La importancia de tener un sitio web para la promoción de tus servicios a nivel global.