script(src='bower_components/jquery/dist/jquery.js')
script(src='bower_components/chartjs/Chart.min.js')
script(src='bower_components/pickadate/lib/compressed/picker.js')
script(src='bower_components/pickadate/lib/compressed/picker.date.js')
script(src='bower_components/pickadate/lib/compressed/translations/es_ES.js')
script(src='js/scripts.js')