include includes/mixins
doctype html
html

	include includes/head
	body
		.login-head
			
			h1 aie
			h2 Sistema de Inteligencia y Tecnología Empresarial

		.login-select
			.title
				h3 Bienvenido
				p Por favor, acerque su tarjeta de indentificación QR a la cámara.

			.qr-container
				#altContent
				
		script(src="js/qr/swfobject.js")
		script(src="js/qr/qrctrl.js")