<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>InteligenciaSocial</servlet-name>
        <servlet-class>mx.com.icvt.front.ActualidadIndustriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Etiquetas</servlet-name>
        <servlet-class>mx.com.icvt.front.Etiquetas</servlet-class>
    </servlet>    
    <servlet>
        <display-name>UserRestServlet</display-name>
        <servlet-name>UserRestServlet</servlet-name>
        <servlet-class>mx.com.icvt.front.UserRestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfiguracionExtraccionServlet</servlet-name>
        <servlet-class>mx.com.icvt.front.ConfiguracionExtraccionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InteligenciaSocial</servlet-name>
        <url-pattern>/inteligenciaSocial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Etiquetas</servlet-name>
        <url-pattern>/etiquetas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfiguracionExtraccionServlet</servlet-name>
        <url-pattern>/configuracionExtraccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRestServlet</servlet-name>
        <url-pattern>/api/v1/*</url-pattern>
    </servlet-mapping>
</web-app>