<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>jersey-servlet</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>mx.com.icvt.front.services</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ActualidadIndustria</servlet-name>
        <servlet-class>mx.com.icvt.front.ActualidadIndustriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Etiquetas</servlet-name>
        <servlet-class>mx.com.icvt.front.EtiquetasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarNoticia</servlet-name>
        <servlet-class>mx.com.icvt.front.ModificarNoticia</servlet-class>
    </servlet>
    <servlet>
        <display-name>UserRestServlet</display-name>
        <servlet-name>UserRestServlet</servlet-name>
        <servlet-class>mx.com.icvt.front.UserRestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfiguracionExtraccionServlet</servlet-name>
        <servlet-class>mx.com.icvt.front.ConfiguracionExtraccionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EjecutarExtraccion</servlet-name>
        <servlet-class>mx.com.icvt.front.EjecutarExtraccionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jersey-servlet</servlet-name>
        <url-pattern>/api/v1/rest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualidadIndustria</servlet-name>
        <url-pattern>/actualidadIndustria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Etiquetas</servlet-name>
        <url-pattern>/etiquetas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarNoticia</servlet-name>
        <url-pattern>/modificarNoticia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfiguracionExtraccionServlet</servlet-name>
        <url-pattern>/configuracionExtraccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EjecutarExtraccion</servlet-name>
        <url-pattern>/ejecutarExtraccion</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserRestServlet</servlet-name>
        <url-pattern>/api/v1/users/*</url-pattern>
    </servlet-mapping>
</web-app>