nav#main-nav
	.container
		ul.row
			li.g2
				a(href='dashboard.html')
					span.icon
					span.tag Dashboard de inicio
			li.g2
				a(href='actualidad.html')
					span.icon
					span.tag Actualidad en la industria
			li.g2
				a(href='social.html')
					span.icon
					span.tag Inteligencia social
			li.g2
				a(href='comercial.html')
					span.icon
					span.tag Inteligencial comercial
			//- li.g2
				a(href='#')
					span.icon
					span.tag Inteligencia tecnológica
				li.g2
				a(href='#')
					span.icon
					span.tag Precios de materias primas