include mixins
doctype html
html.no-js
	
	include includes/head

	body
		
		include includes/header
		include includes/nav
		
		.panel-title
			.container
				.row
					h1 Actualidad en la industria

		.panel-sub-menu
			form(action='#').container
				.row
					.g6.menu-items
						ul.row
							li.g4.selected
								a(href='#')
									span.icon
									span.tag Noticias
							li.g4
								a(href='#')
									span.icon
									span.tag Redes Sociales
							li.g4
								a(href='#')
									span.icon
									span.tag Patentes

					.g6.filters-container
						ul.row
							li.g6.filter-link
								a(href='#').js-open-filters
									i.fa.fa-filter
									| Filtrar
							
							li.g6.filters
								.search-field
									input(type='text', placeholder='Buscar...')
									button(type='submit')
										i.fa.fa-search


								.filters-listing.js-filters-listing

									.datepicker-container
										h3
											i.fa.fa-calendar-o
											|  Fecha

										.row
											.g6
												label de:
												input(type='text').js-date-from

											.g6
												label hasta:
												input(type='text').js-date-to



									
									.categories-container
										h3
											i.fa.fa-tag
											|  Categorías

										- for(i=1; i<7 ; i++) {
										ul.categories-listing
											- for(i=1; i<10 ; i++) {
											li
												input(type='checkbox', id='tag-#{i}')
												label(for='tag-#{i}') Categoría #{i}
											- }
										- }
									.row.action
										.g6
											button(type='reset').btn.alt Borrar
										.g6
											button(type='submit').btn
												| Buscar 
												i.fa.fa-search
									
									.window-options
										a(href='#').js-close-filters
											i.fa.fa-times-circle



		.panel-news-listing
			.container

				h2 Hoy, 24 de Septiembre 2014

				ul.row
					- for(i=0 ; i<3 ; i++) {
					
					li.g4.element
						header.cf
							.pic
								a(href='#')
									img(src='http://placehold.it/80x80.gif')
							.title
								a(href='#') Crecimiento de Inditex se frena en 2013 por tipos de cambio.

						.content
							p Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis. Vivamus sit amet libero turpis, non venenatis urna. In blandit.
							
						footer.cf
							.source
								a(href='#')
									i.fa.fa-rss
									| financiero.com

							.source-link
								a(href='#').link Ver nota
									i.fa.fa-arrow-right

						.tags-array
							ul
								li
									a(href='#').tag-cat.orange Finanzas
								li
									a(href='#').tag-cat.green Comercio
								li
									a(href='#').tag-cat General
									

					- }





		include includes/footer
		include includes/scripts
			
			
			
