include mixins
doctype html
html.no-js

	include includes/head

	body

		.main-wrapper
			include includes/header			
			
			nav.main-nav
				ul.nav-listing
					li.selected: a(href='#')
						span.icon
						span.tag Dashboard de inicio
					li: a(href='#')
						span.icon
						span.tag Actualidad de la industria
					li: a(href='#')
						span.icon
						span.tag Perfil
					li: a(href='#')
						span.icon
						span.tag Alertas y notifiaciones
					li: a(href='#')
						span.icon
						span.tag Inteligencia comercial
					li: a(href='#')
						span.icon
						span.tag Inteligencia social
					

			section.main-container
				.main-container-overlay

				.panel-header-summary
					.container
						.profile-info
							.profile-pic
								img(src='http://placehold.it/80x80')
							.title
								h1 Textiles y acabados de México SA de CV

						.summary
							.col.location
								h3
									i.fa.fa-map-marker
									| Locación
								ul
									li Estado de Hidalgo
									li Tula de Allende
									li San Miguel Vindho
							.col.ue-info
								h3
									i.fa.fa-circle-o
									| Unidad económica
								ul
									li [314991] Confección, bordado y deshilado de productos textiles
							.col.employees
								h3
									i.fa.fa-users
									| Número de empleados
								ul
									li De 10 a 50 empleados
							.col.profile-chart-container
								h3
									i.fa.fa-tasks
									| Perfil
								
								.chart.cf
									.percentage
										span.number.js-profileChartHomePercentage 100%
										span.tag Completado

									canvas#profileChartHome(height='60', width='60')


				.panel-widget-container
					.container
						.widget.widget-news
							h2
								a(href='#') Actualidad en la industria

							ul
								- for(i=0 ; i<4 ; i++) {
								li.element
									.content.cf
										.pic
											a(href='#')
												img(src='http://placehold.it/80x80.gif')
										.title
											a(href='#') Crecimiento de Inditex se frena en 2013 por tipos de cambio.
										
									footer.info.cf
										ul
											li.source
												a(href='#')
													i.fa.fa-rss
													| El Financiero
											li.date 10-Feb-2014
									
								- }

							footer.action
								a(href='#').link Ver más
									i.fa.fa-arrow-right

	

			aside.main-notification
				- for(i=1 ; i<=5 ; i++){
				dl
					dt Notification #{i}
					dd Et mollis nunc diam eget sapien. Nulla facilisi. Etiam feugiat imperdiet rhoncus.
				- }

		#data
			#profileChartHomeAnswered 80
			#profileChartHomeNoAnswered 10

		include includes/scripts


		script.

			$(window).bind("load", function() {

				profileChartHomeAnsweredValue = parseInt($('#profileChartHomeAnswered').text());
				profileChartHomeNoAnsweredValue = parseInt($('#profileChartHomeNoAnswered').text());

				console.log(profileChartHomeAnsweredValue);
				console.log(profileChartHomeNoAnsweredValue);

				var profileChartHomeData = [
					{
						value: profileChartHomeAnsweredValue,
						color: "#8CC63F"
					},
					{
						value : profileChartHomeNoAnsweredValue,
						color : "#E6E6E6"
					}

				];


				var profileChartHomeConfig = {
					segmentShowStroke : false,
					percentageInnerCutout : 70,
					animationSteps : 100,
					animationEasing : "easeOutCirc",
					animateRotate : true,
					animateScale : false,
					onAnimationComplete : null
				}
					


				var profileChartHome = new Chart(document.getElementById("profileChartHome").getContext("2d")).Doughnut(profileChartHomeData, profileChartHomeConfig);
			});