include includes/mixins
doctype html
html

	include includes/head
	body
		.login-head
			
			h1 aie
			h2 Sistema de Inteligencia y Tecnología Empresarial

		.login-select
			.title
				h3 Bienvenido

			.qr-container
				#altContent

		script(src='bower_components/jquery/dist/jquery.js')
		script(src="js/qr/swfobject.js")
		script(src="js/qr/qrctrl.js")