include mixins
doctype html
html

	include includes/head

	body(ng-app='sampleApp')
		.login-head
			
			h1 site
			h2 Sistema de Inteligencia y Tecnología Empresarial

		.login-form
			
			.title
				h3 Bienvenido

			form(ng-controller='loginController',ng-submit='login()')
				fieldset.wi
					input(type='text', ng-model='formData.identity', placeholder='Nombre de Usuario')
					i.fa.fa-user
				
				fieldset.wi
					input(type='password', ng-model='formData.password', placeholder='Contraseña')
					i.fa.fa-lock

				fieldset.loader.{{ load }}
					i.fa.fa-spinner.fa-spin

				fieldset.action
					button(type='submit').btn Ingresar al SITE
						i.fa.fa-chevron-right

				fieldset.error
					span{{ error }}

		script(src='bower_components/jquery/dist/jquery.js')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
		script(src='js/main.js')
		script(src='js/loginController.js')