//- mixins

mixin get-new
	-var newIndex = Math.floor((Math.random() * 6) + 1);
	-var newsTitles = { 1: 'Competencia desleal genera pérdidas de 60% a industria textil', 2: 'Tepeji del Río, potencia textilera', 3: 'Repartirá Concurso Artesanal Textil 215 mil pesos en premios', 4: 'Empresas Hidalguenses exportaron mil 510 millones de dólares en 2012', 5: 'Universidades, respuesta a necesidades regionales', 6: 'Inversión se concentra en Pachuca, Zempoala y Tula' }
	-var newsDesc = { 1: 'Algunos talleres que hace cinco o seis años tenían 20 empleados, hoy tienen la mitad.', 2: 'Tepeji del Río es uno de los municipios que en el sector textil es de los productores más importantes en México y de América Latina.', 3: 'Una bolsa económica de 215 mil pesos será distribuida entre las mujeres bordadoras que obtengan los primeros lugares en el Concurso', 4: 'El titular de la SEDECO José Pablo Maauad dijo que los principales productos que se exportan son carros, partes de ferrocarril y remolques.', 5: 'Tecnológicas de Hidalgo desarrollarán investigación e innnovación en las áreas de metal-mecatrónica y energías alternativas.', 6: 'Hay recursos por alrededor de 70 mdp.' }
	
	-var newSourceIndex = Math.floor((Math.random() * 5) + 1);
	-var newSources = { 1: 'milenio.com', 2: 'eleconomista.com', 3: 'eluniversal.com.mx', 4: 'elfinanciero.com', 5: 'terra.com'}

	li.element
		header.cf
			
			.pic
				a(href='#')
					img(src='img/news-thumbs/#{newIndex}.jpg')
			.title
				a(href='#')= newsTitles[newIndex]

		.content
			p= newsDesc[newIndex]
			
		footer.cf
			.source
				a(href='#')
					i.fa.fa-rss
					span= newSources[newSourceIndex]

			.source-link
				a(href='#').link Ver nota
					i.fa.fa-arrow-right

		.tags-array.cf
			ul
				li
					a(href='#').tag-cat-line.green Finanzas
				li
					a(href='#').tag-cat-line.orange Comercio
				li
					a(href='#').tag-cat-line.blue General