include includes/mixins
doctype html
html.no-js

	include includes/head

	body(ng-app="sampleApp" ng-controller="tweetsController")

		.main-wrapper
			include includes/header
			
			nav.main-nav
				ul.nav-listing
					li: a(href='dashboard.html')
						span.icon
						span.tag Dashboard de inicio
					li.selected: a(href='news.html')
						span.icon
						span.tag Actualidad de la industria
					li: a(href='question.html')
						span.icon
						span.tag Perfil
					li: a(href='alerts.html')
						span.icon
						span.tag Alertas y notifiaciones
					li: a(href='ic.html')
						span.icon
						span.tag Inteligencia comercial

					

			section.main-container
				+container-overlay

				.panel-title: .container
					h1 Actualidad en la industria

				.panel-filters
					.container
						.filter-bar
							.half
								.left
									.menu-select
										ul
											li: a(href='news.html').btn-outline
												i.fa.fa-globe
												span Noticias
											li.selected: a(href='news-tweets.html').btn-outline
												i.fa.fa-twitter
												span Tweets
											
											//-
												li: a(href='#').btn-outline
													i.fa.fa-book
													span Patentes

								.right
									form(ng-submit='filter()')
										.filter-link
											a(href='#').btn-outline.js-open-filters
												i.fa.fa-filter
												| Filtrar

										.filters-listing.js-filters-listing

											.datepicker-container
												h3
													i.fa.fa-calendar-o
													|  Fecha

												.half
													.left
														label de:
														input(type='text',pick-a-date="fechaInicio",max-date="fechaFin")

													.right
														label hasta:
														input(type='text',pick-a-date="fechaFin",min-date="fechaInicio")
										
											
													
												
											.half.action
												.left
													button(type='reset',ng-click='reset()').btn.alt Borrar
												.right
													button(type='submit').btn
														| Buscar 
														i.fa.fa-search
											
											.window-options
												a(href='#').js-close-filters
													i.fa.fa-times-circle


				.panel-news-listing: .container
					h2.date Tweets
					
					ul
						li(ng-repeat='tweet in tweets').element.tweet
							header.cf
								
								.pic
									a(href='{{ tweet.userProfileUrl }}')
										img(src='{{ tweet.userProfileUrl }}')


								.content
									p{{ tweet.text }}
								
							footer.cf
								.source
									a(href='{{ tweet.userProfileUrl }}')
										i.fa.fa-twitter
										span @{{ tweet.userScreenName }}

								.source-link
									a(href='{{ tweet.url }}', target='_blank').link Ver tweet
										i.fa.fa-arrow-right
				
	

			include includes/notifications

		

		include includes/scripts