include mixins
doctype html
html.no-js

	include includes/head

	body(ng-app="sampleApp" ng-controller='NewsController')

		.main-wrapper
			include includes/header
			
			nav.main-nav
				ul.nav-listing
					li: a(href='index.html')
						span.icon
						span.tag Dashboard de inicio
					li: a(href='news.html')
						span.icon
						span.tag Actualidad de la industria
					li: a(href='question.html')
						span.icon
						span.tag Perfil
					li: a(href='alerts.html')
						span.icon
						span.tag Alertas y notifiaciones
					li: a(href='ic.html')
						span.icon
						span.tag Inteligencia comercial
					li: a(href='#')
						span.icon
						span.tag Inteligencia social
					

			section.main-container
				+container-overlay

				.panel-title: .container
					h1 Actualidad en la industria

				.panel-filters
					.container
						.filter-bar
							.half
								.left
									.menu-select
										ul
											li.selected: a(href='actualidad.html').btn-outline
												i.fa.fa-globe
												span Noticias
											li: a(href='news-tweets.html').btn-outline
												i.fa.fa-twitter
												span Tweets
											li: a(href='#').btn-outline
												i.fa.fa-book
												span Patentes

								.right

									form(ng-submit='filter()')
										.filter-link
											a(href='#').btn-outline.js-open-filters
												i.fa.fa-filter
												| Filtrar

										.filters-listing.js-filters-listing

											.datepicker-container
												h3
													i.fa.fa-calendar-o
													|  Fecha

												.half
													.left
														label de:
														input(type='text',pick-a-date="fechaInicio",max-date="fechaFin")

													.right
														label hasta:
														input(type='text',pick-a-date="fechaFin",min-date="fechaInicio")
										
											.categories-container
												h3
													i.fa.fa-tag
													|  Categorías

												
												ul.categories-listing
													
													li(ng-repeat='tag in tags', class='tag-cat-option {{ tag.color }}')
														input(type='checkbox',id='tag-{{ tag.id }}',ng-model='formData.tagsc[tag.id]',ng-true-value='{{tag.id}}',ng-false-value='false')
														label(for='tag-{{ tag.id }}') {{ tag.value }}
												
											.half.action
												.left
													button(type='reset',ng-click='reset()').btn.alt Borrar
												.right
													button(type='submit').btn
														| Buscar 
														i.fa.fa-search
											
											.window-options
												a(href='#').js-close-filters
													i.fa.fa-times-circle


				.panel-verbose-results
					.container
						p(ng-bind-html-unsafe='resultText')

				.an(pickadate,ng-model="date")
		
				.panel-news-listing: .container
					ul
						li(ng-repeat='new in newsresult').element
							header.cf
								
								div(ng-hide="!new.imagen").pic
									a(href='{{ new.url }}')
										img(src='img/news-thumbs/3.jpg')
								.title
									a(href='{{ new.url }}') {{ new.titulo }}

							.content
								p {{ new.descripcion }}
								
							footer.cf
								.source
									a(href='#')
										i.fa.fa-rss
										span {{ new.fuente }}

								.source-link
									a(href='{{ new.url }}').link Ver nota
										i.fa.fa-arrow-right

							.tags-array.cf
								ul
									li(ng-repeat='etiqueta in new.etiquetas')
										a(href='#',class='tag-cat-line {{ etiqueta.color }}') {{ etiqueta.valor }}

				.panel-news-listing: .container
					h2.date: <i class='fa fa-calendar-o'></i><span>Hoy</span>, {{ newsaDay }} de {{ newsaMonth }} {{ newsaYear }}
					
					ul
						li(ng-repeat='new in newsa').element
							header.cf
								
								div(ng-hide="!new.imagen").pic
									a(href='{{ new.url }}')
										img(src='img/news-thumbs/3.jpg')
								.title
									a(href='{{ new.url }}') {{ new.titulo }}

							.content
								p {{ new.descripcion }}
								
							footer.cf
								.source
									a(href='#')
										i.fa.fa-rss
										span {{ new.fuente }}

								.source-link
									a(href='{{ new.url }}').link Ver nota
										i.fa.fa-arrow-right

							.tags-array.cf
								ul
									li(ng-repeat='etiqueta in new.etiquetas')
										a(href='#',class='tag-cat-line {{ etiqueta.color }}') {{ etiqueta.valor }}

				.panel-news-listing: .container
					h2.date: <i class='fa fa-calendar-o'></i><span>Ayer</span>, {{ newsbDay }} de {{ newsbMonth }} {{ newsbYear }}
					
					ul
						li(ng-repeat='new in newsb').element
							header.cf
								
								div(ng-hide="!new.imagen").pic
									a(href='{{ new.url }}')
										img(src='img/news-thumbs/2.jpg')
								.title
									a(href='{{ new.url }}') {{ new.titulo }}

							.content
								p {{ new.descripcion }}
								
							footer.cf
								.source
									a(href='#')
										i.fa.fa-rss
										span {{ new.fuente }}

								.source-link
									a(href='{{ new.url }}').link Ver nota
										i.fa.fa-arrow-right

							.tags-array.cf
								ul
									li(ng-repeat='etiqueta in new.etiquetas')
										a(href='#',class='tag-cat-line {{ etiqueta.color }}') {{ etiqueta.valor }}
									
				.panel-news-listing: .container
					h2.date: <i class='fa fa-calendar'></i><span>Anteriores</span>
					
					ul
						li(ng-repeat='new in newsc').element
							header.cf
								
								div(ng-hide="!new.imagen").pic
									a(href='{{ new.url }}')
										img(src='{{ new.imagen }}')
								.title
									a(href='{{ new.url }}') {{ new.titulo }}

							.content
								p {{ new.descripcion }}
								
							footer.cf
								.source
									a(href='#')
										i.fa.fa-rss
										span {{ new.fuente }}

								.source-link
									a(href='{{ new.url }}').link Ver nota
										i.fa.fa-arrow-right

							.tags-array.cf
								ul
									li(ng-repeat='etiqueta in new.etiquetas')
										a(href='#',class='tag-cat-line {{ etiqueta.color }}') {{ etiqueta.valor }}				


			aside.main-notification
				- for(i=1 ; i<=5 ; i++){
				dl
					dt Notification #{i}
					dd Et mollis nunc diam eget sapien. Nulla facilisi. Etiam feugiat imperdiet rhoncus.
				- }

		

		include includes/scripts
