include mixins
doctype html
html.no-js

	include includes/head

	body(ng-app="sampleApp" ng-controller='NewsController')

		.main-wrapper
			include includes/header
			
			nav.main-nav
				ul.nav-listing
					li: a(href='#')
						span.icon
						span.tag Dashboard de inicio
					li.selected: a(href='#')
						span.icon
						span.tag Actualidad de la industria
					li: a(href='#')
						span.icon
						span.tag Perfil
					li: a(href='#')
						span.icon
						span.tag Alertas y notifiaciones
					li: a(href='#')
						span.icon
						span.tag Inteligencia comercial
					li: a(href='#')
						span.icon
						span.tag Inteligencia social
					

			section.main-container
				+container-overlay

				.panel-title: .container
					h1 Actualidad en la industria

				.panel-filters
					.container
						.filter-bar
							form(ng-submit='filter()')
								.filter-link
									a(href='#').btn-outline.js-open-filters
										i.fa.fa-filter
										| Filtrar

								.filters-listing.js-filters-listing

									.datepicker-container
										h3
											i.fa.fa-calendar-o
											|  Fecha

										.half
											.left
												label de:
												input(type='text',name='fechaInicio',ng-model="formData.fechaInicio").js-date-from

											.right
												label hasta:
												input(type='text',name='fechaFin',ng-model="formData.fechaFin").js-date-to
								
									.categories-container
										h3
											i.fa.fa-tag
											|  Categorías

										
										ul.categories-listing
											
											li.tag-cat-option.blue
												input(type='checkbox', id='tag-general',ng-model="formData.tagGeneral")
												label(for='tag-general') General

											li.tag-cat-option.green
												input(type='checkbox', id='tag-finanzas',ng-model="formData.tagFinanzas")
												label(for='tag-finanzas') Finanzas

											li.tag-cat-option.orange
												input(type='checkbox', id='tag-comercio',ng-model="formData.tagComercio")
												label(for='tag-comercio') Comercio

											li.tag-cat-option.pink
												input(type='checkbox', id='tag-exportaciones',ng-model="formData.tagExportaciones")
												label(for='tag-exportaciones') Exportaciones

											li.tag-cat-option.lime-dark
												input(type='checkbox', id='tag-importaciones',ng-model="formData.tagImportaciones")
												label(for='tag-importaciones') Importaciones
											
										
									.half.action
										.left
											button(type='reset').btn.alt Borrar
										.right
											button(type='submit').btn
												| Buscar 
												i.fa.fa-search
									
									.window-options
										a(href='#').js-close-filters
											i.fa.fa-times-circle


				.panel-verbose-results
					.container
						p(ng-bind-html-unsafe='resultText')
				.panel-news-listing: .container
					ul
						li(ng-repeat='new in newsresult').element
							header.cf
								
								.pic
									a(href='{{ new.url }}')
										img(src='img/news-thumbs/3.jpg')
								.title
									a(href='{{ new.url }}') {{ new.titulo }}

							.content
								p {{ new.descripcion }}
								
							footer.cf
								.source
									a(href='#')
										i.fa.fa-rss
										span {{ new.fuente }}

								.source-link
									a(href='{{ new.url }}').link Ver nota
										i.fa.fa-arrow-right

							.tags-array.cf
								ul
									li(ng-repeat='etiqueta in new.etiquetas')
										a(href='#',class='tag-cat-line {{ etiqueta.color }}') {{ etiqueta.valor }}

				.panel-news-listing: .container
					h2.date: <i class='fa fa-calendar-o'></i><span>Hoy</span>, {{ newsaDay }} de {{ newsaMonth }} {{ newsaYear }}
					
					ul
						li(ng-repeat='new in newsa').element
							header.cf
								
								.pic
									a(href='{{ new.url }}')
										img(src='img/news-thumbs/3.jpg')
								.title
									a(href='{{ new.url }}') {{ new.titulo }}

							.content
								p {{ new.descripcion }}
								
							footer.cf
								.source
									a(href='#')
										i.fa.fa-rss
										span {{ new.fuente }}

								.source-link
									a(href='{{ new.url }}').link Ver nota
										i.fa.fa-arrow-right

							.tags-array.cf
								ul
									li(ng-repeat='etiqueta in new.etiquetas')
										a(href='#',class='tag-cat-line {{ etiqueta.color }}') {{ etiqueta.valor }}

				.panel-news-listing: .container
					h2.date: <i class='fa fa-calendar-o'></i><span>Ayer</span>, 23 de Mayo 2014
					
					ul
						li(ng-repeat='new in newsb').element
							header.cf
								
								.pic
									a(href='{{ new.url }}')
										img(src='img/news-thumbs/2.jpg')
								.title
									a(href='{{ new.url }}') {{ new.titulo }}

							.content
								p {{ new.descripcion }}
								
							footer.cf
								.source
									a(href='#')
										i.fa.fa-rss
										span {{ new.fuente }}

								.source-link
									a(href='{{ new.url }}').link Ver nota
										i.fa.fa-arrow-right

							.tags-array.cf
								ul
									li(ng-repeat='etiqueta in new.etiquetas')
										a(href='#',class='tag-cat-line {{ etiqueta.color }}') {{ etiqueta.valor }}
									
				.panel-news-listing: .container
					h2.date: <i class='fa fa-calendar'></i><span>Anteriores</span>
					
					ul
						li(ng-repeat='new in newsc').element
							header.cf
								
								.pic
									a(href='{{ new.url }}')
										img(src='img/news-thumbs/1.jpg')
								.title
									a(href='{{ new.url }}') {{ new.titulo }}

							.content
								p {{ new.descripcion }}
								
							footer.cf
								.source
									a(href='#')
										i.fa.fa-rss
										span {{ new.fuente }}

								.source-link
									a(href='{{ new.url }}').link Ver nota
										i.fa.fa-arrow-right

							.tags-array.cf
								ul
									li(ng-repeat='etiqueta in new.etiquetas')
										a(href='#',class='tag-cat-line {{ etiqueta.color }}') {{ etiqueta.valor }}				


			aside.main-notification
				- for(i=1 ; i<=5 ; i++){
				dl
					dt Notification #{i}
					dd Et mollis nunc diam eget sapien. Nulla facilisi. Etiam feugiat imperdiet rhoncus.
				- }

		

		include includes/scripts