include mixins
doctype html
html.no-js

	include includes/head

	body

		.main-wrapper
			include includes/header
			
			nav.main-nav
				ul.nav-listing
					li: a(href='#')
						span.icon
						span.tag Dashboard de inicio
					li: a(href='#')
						span.icon
						span.tag Actualidad de la industria
					li.selected: a(href='#')
						span.icon
						span.tag Perfil
					li: a(href='#')
						span.icon
						span.tag Alertas y notifiaciones
					li: a(href='#')
						span.icon
						span.tag Inteligencia comercial
					li: a(href='#')
						span.icon
						span.tag Inteligencia social
					

			section.main-container
				+container-overlay

				.panel-title: .container
					h1 Cuestionario

				.panel-question-bar
					.container
						.half
							.left
								a(href='#').btn.alt <i class='fa fa-chevron-left'></i> Atrás
								
							.right
								button(type='submit').btn <i class='fa fa-save'></i> Guardar
				

				.panel-question-tabs
					.container
						ol
							li.selected: a(href='#'): span Economía
							li: a(href='#'): span Producción
							li: a(href='#'): span Comercial
							li: a(href='#'): span Innovación y Tecnología
							li: a(href='#'): span Administración
							li: a(href='#'): span Tecnologías de la Información

				.panel-question-all-blocks-container
					.container
						.panel-question-container
							h2 Economía

							fieldset
								dl.question
									dt
										label ¿Cónoce el significado de los principales indicadores económicos de su industria?
									dd.answers
										ul
											li.input-radio
												input(type='radio', id='q1-a1', name='q1')
												label(for='q1-a1') Sí

											li.input-radio
												input(type='radio', id='q1-a2', name='q1')
												label(for='q1-a2') No


								dl.question
									dt
										label ¿En qué tipo de noticias de la industria está interesado?
									dd.answers
										ul
											li.input-checkbox
												input(type='checkbox', id='q2-a1', name='q2')
												label(for='q2-a1') Negocios

											li.input-checkbox
												input(type='checkbox', id='q2-a2', name='q2')
												label(for='q2-a2') Tecnología

											li.input-checkbox
												input(type='checkbox', id='q2-a3', name='q2')
												label(for='q2-a3') Acerca de sus clientes


								dl.question
									dt
										label ¿Cuales son sus principales productos o servicios?

									dd.answers
										ul
											li
												li.input-text
													input(type='text')




	

			aside.main-notification
				- for(i=1 ; i<=5 ; i++){
				dl
					dt Notification #{i}
					dd Et mollis nunc diam eget sapien. Nulla facilisi. Etiam feugiat imperdiet rhoncus.
				- }

		

		include includes/scripts