include mixins
doctype html
html.no-js

	include includes/head

	body

		.main-wrapper
			include includes/header

			nav.main-nav
				ul.nav-listing
					li: a(href='index.html')
						span.icon
						span.tag Dashboard de inicio
					li: a(href='actualidad.html')
						span.icon
						span.tag Actualidad de la industria
					li: a(href='question.html')
						span.icon
						span.tag Perfil
					li: a(href='alerts.html')
						span.icon
						span.tag Alertas y notifiaciones
					li: a(href='ic.html')
						span.icon
						span.tag Inteligencia comercial
					li: a(href='#')
						span.icon
						span.tag Inteligencia social


			section.main-container
				+container-overlay

				.panel-title: .container
					h1 Registro de Unidad Económica

				.panel-question-bar
					.container
						.half
							.left
								br
							.right
								button(type='submit').btn <i class='fa fa-save'></i> Guardar

				.panel-signup
					.container
						form(action='unidadEconomica', method='post').form

							fieldset
								legend Información de la empresa

								dl.question
									dt
										label Nombre de la Unidad Económica:

									dd.answers
										ul
											li.input-text
												input(type='text', name='nombre')


								dl.question
									dt
										label Razón social:

									dd.answers
										ul
											li.input-text
												input(type='text', name='razonSocial')

								dl.question
									dt
										label Código de la clase de actividad SCIAN:

									dd.answers
										ul
											li.input-text
												input(type='text', name='claseActividad')


								dl.question
									dt
										label Personal ocupado:

									dd.answers
										ul
											li.input-select
												select
													option(disabled selected) Seleciona el personal ocupado en la empresa
													option(value='1') 0 a 5 personas
													option(value='2') 6 a 10 personas
													option(value='3') 11 a 30 personas
													option(value='4') 31 a 50 personas
													option(value='5') 51 a 100 personas
													option(value='6') 101 a 250 personas
													option(value='7') 251 y más personas


							fieldset
								legend Dirección / Ubicación

								dl.question
									dt
										label Calle:

									dd.answers
										ul
											li.input-text
												input(type='text')

								dl.question
									dt
										label Número exterior:

									dd.answers
										ul
											li.input-text
												input(type='text')

								dl.question
									dt
										label Número interior:

									dd.answers
										ul
											li.input-text
												input(type='text')

								dl.question
									dt
										label Colonia:

									dd.answers
										ul
											li.input-text
												input(type='text')


								dl.question
									dt
										label Municipio:

									dd.answers
										ul
											li.input-select
												select
													option(disabled selected) Seleciona tu municipio
													option(value='1') Acatlán
													option(value='2') Acaxochitlán
													option(value='3') Actopan
													option(value='4') Agua Blanca de Iturbide
													option(value='5') Ajacuba
													option(value='6') Alfajayucan
													option(value='7') Almoloya
													option(value='8') Apan
													option(value='9') El Arenal
													option(value='10') Atitalaquia
													option(value='11') Atlapexco
													option(value='12') Atotonilco el Grande
													option(value='13') Atotonilco de Tula
													option(value='14') Calnali
													option(value='15') Cardonal
													option(value='16') Cuautepec de Hinojosa
													option(value='17') Chapantongo
													option(value='18') Chapulhuacán
													option(value='19') Chilcuautla
													option(value='20') Eloxochitlán
													option(value='21') Emiliano Zapata
													option(value='22') Epazoyucan
													option(value='23') Francisco I. Madero
													option(value='24') Huasca de Ocampo
													option(value='25') Huautla
													option(value='26') Huazalingo
													option(value='27') Huehuetla
													option(value='28') Huejutla de Reyes
													option(value='29') Huichapan
													option(value='30') Ixmiquilpan
													option(value='31') Jacala de Ledezma
													option(value='32') Jaltocán
													option(value='33') Juárez Hidalgo
													option(value='34') Lolotla
													option(value='35') Metepec
													option(value='36') San Agustín Metzquititlán
													option(value='37') Metztitlán
													option(value='38') Mineral del Chico
													option(value='39') Mineral del Monte
													option(value='40') La Misión
													option(value='41') Mixquiahuala de Juárez
													option(value='42') Molango de Escamilla
													option(value='43') Nicolás Flores
													option(value='44') Nopala de Villagrán
													option(value='45') Omitlán de Juárez
													option(value='46') San Felipe Orizatlán
													option(value='47') Pacula
													option(value='48') Pachuca de Soto
													option(value='49') Pisaflores
													option(value='50') Progreso de Obregón
													option(value='51') Mineral de la Reforma
													option(value='52') San Agustín Tlaxiaca
													option(value='53') San Bartolo Tutotepec
													option(value='54') San Salvador
													option(value='55') Santiago de Anaya
													option(value='56') Santiago Tulantepec de Lugo Guerrero
													option(value='57') Singuilucan
													option(value='58') Tasquillo
													option(value='59') Tecozautla
													option(value='60') Tenango de Doria
													option(value='61') Tepeapulco
													option(value='62') Tepehuacán de Guerrero
													option(value='63') Tepeji del Río de Ocampo
													option(value='64') Tepetitlán
													option(value='65') Tetepango
													option(value='66') Villa de Tezontepec
													option(value='67') Tezontepec de Aldama
													option(value='68') Tianguistengo
													option(value='69') Tizayuca
													option(value='70') Tlahuelilpan
													option(value='71') Tlahuiltepa
													option(value='72') Tlanalapa
													option(value='73') Tlanchinol
													option(value='74') Tlaxcoapan
													option(value='75') Tolcayuca
													option(value='76') Tula de Allende
													option(value='77') Tulancingo de Bravo
													option(value='78') Xochiatipan
													option(value='79') Xochicoatlán
													option(value='80') Yahualica
													option(value='81') Zacualtipán de Ángeles
													option(value='82') Zapotlán de Juárez
													option(value='83') Zempoala
													option(value='84') Zimapán

								dl.question
									dt
										label Código Postal

									dd.answers
										ul
											li.input-text
												input(type='text', name='codigoPostal')

								dl.question
									dt
										label Latitud:

									dd.answers
										ul
											li.input-text
												input(type='text', name='latitud')

								dl.question
									dt
										label Longitud:

									dd.answers
										ul
											li.input-text
												input(type='text', name='longitud')


							fieldset

								legend Datos de contacto

								dl.question
									dt
										label Nombre del representante:

									dd.answers
										ul
											li.input-text
												input(type='text', name='nombreRepresentante')

								dl.question
									dt
										label Teléfono:

									dd.answers
										ul
											li.input-text
												input(type='text', name='telefono')

								dl.question
									dt
										label Extensión:

									dd.answers
										ul
											li.input-text
												input(type='text', name='extension')


								dl.question
									dt
										label Correo electrónico:

									dd.answers
										ul
											li.input-text
												input(type='text', name='correo')


								dl.question
									dt
										label Sitio web:

									dd.answers
										ul
											li.input-text
												input(type='text', name='url')

								dl.question
									dt
										label Facebook:

									dd.answers
										ul
											li.input-text
												input(type='text', name='facebook')

								dl.question
									dt
										label Twitter:

									dd.answers
										ul
											li.input-text
												input(type='text', name='twitter')

							.error
								span Mensaje de error

							.action
								.half
									.left
										br

									.right
										button(type='submit').btn <i class='fa fa-save'></i> Guardar


			include includes/notifications



		include includes/scripts