include mixins
doctype html
html.no-js

	include includes/head

	body

		
		.action
			a(href='#alert-contact').lb-alert-contact.btn Solicitar más información 

						
		#alert-contact
			p lololol




		

		include includes/scripts