@import "compass/css3"
@import "compass/reset"
@import "libs/retina-sprites"

@import "init"
@import "grid"
@import "font"


$spacer: 24px
$text: #777777


$black: #333
$blue: #29ABE2
$green: #8CC63F
$red: #ED1C24
$orange: #FF931E
$gray: #B3B3B3
$lightgray: #E6E6E6


$twitter: #55ACEE
$facebook: blue
$rss: #FF6600



body
	font-family: Helvetica, Arial, sans-serif
	font-size: 16px
	font-weight: normal
	color: $text
	+bariol

h1, h2, h3, h4, h5, h6
	+bariol-bold


a:link, a:visited, a:hover, a:active
	color: inherit
	text-decoration: none


.link
	color: $blue !important

	&:hover
		text-decoration: underline !important

#main-header
	background-color: $blue
	color: white
	padding: $spacer/2

	.left, .right
		float: left

	.left
		width: 20%

	.right
		width: 80%

	.logo		
		a
			+imgr
			+use-sprite('logo')
			display: block

#main-nav
	padding: $spacer/2 0
	background-color: $black
	color: white
	a
		display: block
		@extend %cf

	.icon
		display: block
		float: left
		width: 35px
		height: 35px
		background-color: lightgray
		margin-right: 10px

	.tag
		

#main-footer
	background-color: $black
	color: white
	padding: $spacer $spacer/2
	font-size: 13px
	text-align: right

.header-menu-container
	text-align: right
	display: block
	float: right

	.btn-link-continer
		display: block

		li
			float: left
			display: block
			margin-left: $spacer/2


	.btn-link
		display: inline-block
		padding: 6px 12px
		border: 1px solid white

		&:hover
			background-color: rgba(white, 0.3)

		
		i
			margin-right: 5px



// header summary
.panel-header-summary	
	border-top: 1px solid $lightgray
	border-bottom: 1px solid $lightgray
	padding-top: $spacer
	padding-bottom: $spacer

	.profile-info
		

		.profile-pic
			width: 80px
			margin-right: 5px
			float: left

			img
				vertical-align: bottom

		.title
			display: table-cell
			height: 80px
			vertical-align: bottom
			font-size: 1.3em

	.summary
		font-size: 0.9em

		h3
			color: $blue
			margin-bottom: 17px
			border-bottom: 2px solid $blue
			padding-bottom: 5px

			i
				margin-right: 5px

	.profile-chart-container
		h3
			margin-bottom: 5px

		.chart

		.percentage, canvas
			float: left

		.percentage
			width: 85px


		.number
			color: $green
			font-size: 2.5em
			display: block

		.tag






// home widgets
.panel-widget-container
	padding-top: $spacer
	padding-bottom: $spacer



.widget-news, .widget-alerts
	.element
		height: 60px
		overflow: hidden


.widget
	h2
		margin-bottom: $spacer/2
		font-size: 1.2em

	.element
		font-size: 0.9em
		display: block
		padding: $spacer/2 0
		border-bottom: 1px solid $lightgray


	.content
		margin-bottom: $spacer/4



	.pic
		float: left
		width: 40px
		margin-right: 5px
		img
			vertical-align: bottom
			width: 100%


	.title
		height: 46px
		a
			&:hover
				color: $blue


	.info
		font-size: 0.8em
		color: $gray
		
		li
			float: left

		i
			margin-right: 3px

		.source
			margin-right: 3px

			&:after
				content: ' /'

			a
				&:hover
					text-decoration: underline



	.action
		padding: $spacer/2 0
		text-align: right

		i
			margin-left: 5px

	.fa-rss
		color: $rss

	.fa-twitter
		color: $twitter



.panel-title
	padding-top: $spacer
	padding-bottom: $spacer

	h1
		font-size: 2em


.panel-sub-menu
	margin-bottom: $spacer
	
	.menu-items

		li
			float: left
			display: block

			&.selected
				border-bottom: 2px solid $blue

		a
			display: block
			@extend %cf
			padding-bottom: 3px

		.icon
			display: block
			float: left
			width: 35px
			height: 35px
			background-color: lightgray
			margin-right: 10px

		.tag
		


	.filter-link
		text-align: right
		font-size: 0.9em

		i
			margin-right: 3px

		a
			margin-top: 5px
			display: inline-block
	

	.filters-container
		position: relative


	.filters
		background-color: white
		position: absolute
		right: 0

		

	.filters-listing

		+bx
		border-width: 0 1px 1px 1px
		border-color: $lightgray
		border-style: solid
		display: none
		margin-bottom: $spacer
		padding: $spacer/2
		position: relative

		h3
			+bariol
			font-size: 1.2em
			margin-bottom: $spacer/2

		.action
			button
				display: block
				width: 100%
				padding-left: 0
				padding-right: 0

		.window-options
			position: absolute
			top: 10px
			right: 10px
	
	.datepicker-container
		margin-bottom: $spacer

		input[type='text']
			border: 1px solid $lightgray
			display: inline
			width: 100%

		label
			font-size: 0.7em

	.categories-container
		margin-bottom: $spacer

		input[type='checkbox']
			+reset-appearance
			display: none

			&:checked ~ label
				color: white
				background-color: $blue

		label
			+fx
			display: block
			padding: 7px
			cursor: pointer
			margin-bottom: 2px
			border: 1px solid transparent

			&:hover
				border: 1px solid $blue

		.categories-listing
			font-size: 0.8em


.search-field
	position: relative

	input[type='text']
		border: 1px solid $lightgray
		width: 100%
		+bx
		padding: 3px

	button[type='submit']
		position: absolute
		right: 3px
		top: 3px


.btn
	background-color: $blue
	color: white
	padding: $spacer/4 $spacer
	cursor: pointer

	&:hover
		background-color: darken($blue, 10%)

	&.alt
		background-color: $gray
		color: white

		&:hover
			background-color: darken($gray, 10%)








.panel-news-listing
	padding: $spacer 0
	.element
		font-size: 0.9em
		display: block
		padding: $spacer/2 0
		


	header
		margin-bottom: $spacer/4

	.content
		margin-bottom: $spacer



	.pic
		float: left
		width: 40px
		margin-right: 5px
		img
			vertical-align: bottom
			width: 100%
			border-radius: 30px


	.title
		height: 46px
		+bariol-bold
		a
			&:hover
				color: $blue


	footer
		font-size: 0.8em
		color: $gray
		border-bottom: 1px solid $lightgray
		margin-bottom: $spacer/3
		padding-bottom: $spacer/3
		
		li
			float: left

		i
			margin-right: 3px

		.source, .source-link
			float: left
			width: 50%

		.source
			a
				&:hover
					text-decoration: underline


		.source-link
			text-align: right
			i
				margin-left: 5px
		

	.fa-rss
		color: $rss

	.fa-twitter
		color: $twitter


.tags-array
	ul

	li
		float: left
		margin-right: 3px



.tag-cat
	display: inline-block
	padding: 3px
	color: white !important
	background-color: $gray
	font-size: 10px
	font-family: Helvetica, Arial, sans-serif
	+fx

	&:hover
		background-color: darken($gray, 10%)


	&.orange
		background-color: $orange
		&:hover
			background-color: darken($orange, 10%)

	&.green
		background-color: $green
		&:hover
			background-color: darken($green, 10%)
